# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs
name: Development CI

on:
  push:
    branches: ["feature*"]
  pull_request:
    branches: ["development"]
    types: ["opened", "edited", "reopened"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: "npm"
      - name: Set current date as env variable
        run: echo "BUILD_TS=$(date +'%Y%m%dT%H:%M:%S.%s')" >> $GITHUB_ENV
      - name: Echo current date
        run: echo $BUILD_TS # Gives "2022-12-11T01:42:20"
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: "npm"
      - run: npm ci
      - run: npm run lint
